node_modules
.next
apps/api/.env
.env.local
.env.development
.env.production
dist
build
coverage
.cache
.DS_Store
*.log
pnpm-lock.yaml
yarn.lock
npm-debug.log
.idea
.vscode

# Local secrets / editor junk
apps/mobile/*.swp
apps/mobile/*firebase-adminsdk*.json
