EXPO_PUBLIC_API_BASE=http://10.0.2.2:4000
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=replace
EXPO_PUBLIC_GOOGLE_MAP_ID=
EXPO_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_EAS_PROJECT_ID=
